
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>ADMIN</h4>
    <hr />
    @Html.ActionLink("Add New Admin", "CreateAdmin", "Employee", null, new { @class = "btn btn-primary btn-large" })
    @Html.ActionLink("Add New Mama", "CreateMama", "Employee", null, new { @class = "btn btn-primary btn-large" })
</div>
