@model DataAccess.Mama

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Mama/_LayoutMama.cshtml";
}

<h2>Welcome @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>


